@use "../utilities/colors" as *;
@use "../global";

.footer {
  margin: 5rem;
  display: flex;
  justify-content: space-evenly;
  &__section--title {
    font-weight: 700;
    font-size: 2rem;
    color: $blue-color;
    margin-bottom: 1.5rem;
  }
  &__section--namehour {
    color: $prime-color;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
  }
  &__section--content {
    color: $blue-color;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 24rem;
  }
  &__section--logo {
    margin-left: 2rem;
    width: 2rem;
    height: 2rem;
  }

  &__section--name {
    display: flex;
    flex-direction: column;
  }
}
