@use "../utilities/colors" as *;
@use "../global";
// @use "../utilities/card" as *;
* {
  box-sizing: border-box;
}

.recommendations {
  margin: 5rem;
  &__title {
    color: $blue-color;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  &__cards {
    display: flex;
    flex-direction: row;
    margin: 0.25rem;
    justify-content: space-evenly;
  }

  &__img {
    width: 20rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 20%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 20%);
  }
  &__card--link {
    list-style: none;
    text-decoration: none;
  }
  &__card--text {
    position: relative;
    display: flex;
    justify-content: end;
    bottom: 3.5rem;
    right: 1.5rem;
    color: $global-color;
    font-family: 700;
    font-size: 2rem;
  }
}
